.super-heading {
    border-bottom: 1px solid #000;
}

.about {
    text-align: center;
    color: red;
    background-color: #eee;
}

.text {
    width: 50%;
    color: rgb(8, 2, 41);
}

.galery {
    text-align: center;
    color: orange;
    text-transform: uppercase;
}